<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>五边形进度条demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>944F96221BF029B1000504A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944F963B1BF029B2000504A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944F96461BF029B2000504A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
